@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x: hidden;
}
.sermonText {
  font-family: monospace;
  padding: 20px;
  font-weight: 600;
  /* text-wrap: wrap; */
  /* overflow-wrap: break-word; */
}
.sermonBack{
background-image: url('../public/darker.jpg');
background-position: center;
background-size: cover;

}
.highlight {
  color: #00ff00;
  text-decoration: underline;
  font-style: oblique;
}
.location-icn {
  width: 16px;
  height: 16px; 
  vertical-align: middle; /* Align icon with text */
  margin-right: 4px; /* Space between icon and text */
}
.settings-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  min-height: 100vh;
}

.icon-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #e9ecef;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-content {
  max-width: 400px;
}

.setting-item {
  margin-bottom: 16px;
}

.setting-item label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;}

  /* body, html {
    overflow: hidden;
  } */
  .sem::-webkit-scrollbar {
    display: none;
  }
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px; /* Adjusted for rounded corners */
    background-color: #8c8c8c;
  }

  ::-webkit-scrollbar-thumb {
    background: #22272a;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #40aae2;
  }

.ant-drawer-content-wrapper{
  background-color:'#171a1c';
}
/* Create a separate CSS file, e.g., SolarSystem.css */

@keyframes starTwinkle {
  0%, 100% { opacity: 0.8; }
  50% { opacity: 1; }
}

.solar-system-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
}

.star {
  position: absolute;
  background: white;
  border-radius: 50%;
  animation: starTwinkle infinite;
}

